Create a new Jupyter notebook in Google Colab. For each of the following, create a notebook cell, load the datasource into a DataFrame, and run df.info() and df.head() to orient yourself to the data.

In [131]:
import numpy as np
import pandas as pd

In [136]:
#Load csv dataset into a pandas dataframe and read head (first five entries).

nyc_df = pd.read_csv('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-analytics-bootcamp/nyc_baby_names.csv')
nyc_df.head()

,Year of Birth,Gender,Ethnicity,Child's First Name,Count,Rank,Gender.1,Ethnicity.1,Child's First Name.1,Sub1,Sub2,Unnamed: 11
0,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,SOPHIA,119,1,Female,Asian And Pacific Islander,Sophia,Asian And Paci,Asian And Pacific Islander,NaN
1,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,CHLOE,106,2,Female,Asian And Pacific Islander,Chloe,Asian And Paci,Asian And Pacific Islander,NaN
2,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMILY,93,3,Female,Asian And Pacific Islander,Emily,Asian And Paci,Asian And Pacific Islander,NaN
3,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,OLIVIA,89,4,Female,Asian And Pacific Islander,Olivia,Asian And Paci,Asian And Pacific Islander,NaN
4,2011,FEMALE,ASIAN AND PACIFIC ISLANDER,EMMA,75,5,Female,Asian And Pacific Islander,Emma,Asian And Paci,Asian And Pacific Islander,NaN

In [133]:
#Get info from nyc_df dataset

nyc_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11345 entries, 0 to 11344
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year of Birth         11345 non-null  int64
 1   Gender                11345 non-null  object
 2   Ethnicity             11345 non-null  object
 3   Child's First Name    11345 non-null  object
 4   Count                 11345 non-null  int64
 5   Rank                  11345 non-null  int64
 6   Gender.1              11345 non-null  object
 7   Ethnicity.1           11345 non-null  object
 8   Child's First Name.1  11345 non-null  object
 9   Sub1                  11345 non-null  object
 10  Sub2                  11345 non-null  object
 11  Unnamed: 11           0 non-null      float64
dtypes: float64(1), int64(3), object(8)
memory usage: 1.0+ MB

In [137]:
#Load json dataset into a pandas dataframe and read head (first five entries).

tweets_df = pd.read_json('https://tf-assets-prod.s3.amazonaws.com/tf-curric/data-analytics-bootcamp/tweets.json')
tweets_df.head(10)

,id,entities,is_quote_status,text,favorited,source,truncated,created_at,user,geo,...,in_reply_to_screen_name,in_reply_to_status_id,retweeted_status,id_str,retweet_count,possibly_sensitive,extended_entities,quoted_status_id_str,quoted_status_id,quoted_status
0,815449933453127681,"{'hashtags': [], 'user_mentions': [{'id': 5254...",False,RT @IvankaTrump: 2016 has been one of the most...,False,"<a href=""http://twitter.com/download/iphone"" r...",False,2017-01-01 06:49:49+00:00,"{'id': 25073877, 'id_str': '25073877'}",None,...,None,NaN,"{'id': 815413345935355904, 'favorited': False,...",815449933453127680,6525,NaN,NaN,NaN,NaN,NaN
1,815449868739211265,"{'hashtags': [{'indices': [45, 53], 'text': 'n...",False,RT @DonaldJTrumpJr: Happy new year everyone. #...,False,"<a href=""http://twitter.com/download/iphone"" r...",False,2017-01-01 06:49:33+00:00,"{'id': 25073877, 'id_str': '25073877'}",None,...,None,NaN,"{'id': 815419542440648704, 'entities': {'hasht...",815449868739211264,3966,0.0,"{'media': [{'id': 815419531078336512, 'source_...",NaN,NaN,NaN
2,815433444591304704,"{'hashtags': [], 'user_mentions': [{'id': 3934...",False,RT @EricTrump: 2016 was such an incredible yea...,False,"<a href=""http://twitter.com/download/iphone"" r...",False,2017-01-01 05:44:17+00:00,"{'id': 25073877, 'id_str': '25073877'}",None,...,None,NaN,"{'id': 815430762430365696, 'entities': {'hasht...",815433444591304704,3986,NaN,NaN,NaN,NaN,NaN
3,815433217595547648,"{'hashtags': [], 'user_mentions': [{'id': 2073...",False,RT @Reince: Happy New Year + God's blessings t...,False,"<a href=""http://twitter.com/download/iphone"" r...",False,2017-01-01 05:43:23+00:00,"{'id': 25073877, 'id_str': '25073877'}",None,...,None,NaN,"{'id': 815421950159949824, 'favorited': False,...",815433217595547648,4572,NaN,NaN,NaN,NaN,NaN
4,815432169464197121,"{'hashtags': [{'indices': [38, 44], 'text': 'P...",True,RT @DanScavino: On behalf of our next #POTUS &...,False,"<a href=""http://twitter.com/download/iphone"" r...",False,2017-01-01 05:39:13+00:00,"{'id': 25073877, 'id_str': '25073877'}",None,...,None,NaN,"{'id': 815425454807072768, 'entities': {'hasht...",815432169464197120,3411,0.0,NaN,8.154223e+17,8.154223e+17,NaN
5,815422340540547073,"{'hashtags': [{'indices': [18, 31], 'text': 'H...",False,TO ALL AMERICANS-\n#HappyNewYear &amp; many bl...,False,"<a href=""http://twitter.com/download/iphone"" r...",True,2017-01-01 05:00:10+00:00,"{'id': 25073877, 'id_str': '25073877'}",None,...,None,NaN,NaN,815422340540547072,24746,0.0,NaN,NaN,NaN,NaN
6,815271067749060609,"{'hashtags': [], 'user_mentions': [{'id': 2507...",False,RT @realDonaldTrump: Happy Birthday @DonaldJTr...,False,"<a href=""http://twitter.com/download/iphone"" r...",False,2016-12-31 18:59:04+00:00,"{'id': 25073877, 'id_str': '25073877'}",None,...,None,NaN,"{'id': 815270850916208644, 'favorited': False,...",815271067749060608,8658,0.0,NaN,NaN,NaN,NaN
7,815270850916208644,"{'hashtags': [], 'user_mentions': [{'id': 3934...",False,Happy Birthday @DonaldJTrumpJr!\nhttps://t.co/...,False,"<a href=""http://twitter.com/download/iphone"" r...",False,2016-12-31 18:58:12+00:00,"{'id': 25073877, 'id_str': '25073877'}",None,...,None,NaN,NaN,815270850916208640,8658,0.0,NaN,NaN,NaN,NaN
8,815185071317676033,"{'hashtags': [], 'user_mentions': [], 'urls': ...",False,"Happy New Year to all, including to my many en...",False,"<a href=""http://twitter.com/download/android"" ...",False,2016-12-31 13:17:21+00:00,"{'id': 25073877, 'id_str': '25073877'}",None,...,None,NaN,NaN,815185071317676032,130715,NaN,NaN,NaN,NaN,NaN
9,814958820980039681,"{'hashtags': [], 'user_mentions': [{'id': 7592...",False,Russians are playing @CNN and @NBCNews for suc...,False,"<a href=""http://twitter.com/download/android"" ...",False,2016-12-30 22:18:18+00:00,"{'id': 25073877, 'id_str': '25073877'}",None,...,None,NaN,NaN,814958820980039680,22300,NaN,NaN,NaN,NaN,NaN

In [139]:
#Get info from nyc_df dataset

tweets_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1018 entries, 0 to 1017
Data columns (total 29 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   id                         1018 non-null   int64
 1   entities                   1018 non-null   object
 2   is_quote_status            1018 non-null   bool
 3   text                       1018 non-null   object
 4   favorited                  1018 non-null   bool
 5   source                     1018 non-null   object
 6   truncated                  1018 non-null   bool
 7   created_at                 1018 non-null   datetime64[ns, UTC]
 8   user                       1018 non-null   object
 9   geo                        3 non-null      object
 10  in_reply_to_user_id_str    1 non-null      float64
 11  coordinates                3 non-null      object
 12  in_reply_to_user_id        1 non-null      float64
 13  contributors               0 non-null      float64
 14  place                      341 non-null    object
 15  in_reply_to_status_id_str  0 non-null      float64
 16  retweeted                  1018 non-null   bool
 17  lang                       1018 non-null   object
 18  favorite_count             1018 non-null   int64
 19  in_reply_to_screen_name    1 non-null      object
 20  in_reply_to_status_id      0 non-null      float64
 21  retweeted_status           100 non-null    object
 22  id_str                     1018 non-null   int64
 23  retweet_count              1018 non-null   int64
 24  possibly_sensitive         533 non-null    float64
 25  extended_entities          159 non-null    object
 26  quoted_status_id_str       19 non-null     float64
 27  quoted_status_id           19 non-null     float64
 28  quoted_status              17 non-null     object
dtypes: bool(4), datetime64[ns, UTC](1), float64(8), int64(4), object(12)
memory usage: 202.9+ KB