In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import warnings
from scipy.stats import zscore
from scipy.stats.stats import ttest_ind
from scipy.stats.mstats import winsorize

warnings.filterwarnings('ignore')

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'studentsperformance'

engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

student_performance_df = pd.read_sql_query('select * from studentsperformance',con=engine)

engine.dispose()

In [4]:
student_performance_df.info()
student_performance_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

#### Are there any differences between the genders, ethnicities, and parental level of education with respect to their performances in exams?

In [15]:
student_performance_df.groupby('gender').mean()[['math score', 'reading score', 'writing score']]

        math score  reading score  writing score
gender
female   63.633205      72.608108      72.467181
male     68.728216      65.473029      63.311203

Females are better at reading and writing and males have excelled in math

In [27]:
female = student_performance_df[student_performance_df['gender'] == 'female'][['math score', 
                                'reading score', 'writing score']]

male = student_performance_df[student_performance_df['gender'] == 'male'][['math score', 
                                'reading score', 'writing score']]

In [31]:
ttest_ind(male, female)

Ttest_indResult(statistic=array([ 5.38324587, -7.95930801, -9.97955791]), pvalue=array([9.12018555e-08, 4.68053874e-15, 2.01987771e-22]))

In [32]:
student_performance_df.groupby('race/ethnicity').mean()[['math score', 'reading score', 'writing score']]

                math score  reading score  writing score
race/ethnicity
group A          61.629213      64.674157      62.674157
group B          63.452632      67.352632      65.600000
group C          64.463950      69.103448      67.827586
group D          67.362595      70.030534      70.145038
group E          73.821429      73.028571      71.407143

#### Are there any differences between the lunch types with respect to their performances in exams? If there are, how do you explain this?

In [30]:
student_performance_df.groupby('lunch').mean()[['math score', 'reading score', 'writing score']]

              math score  reading score  writing score
lunch
free/reduced   58.921127      64.653521      63.022535
standard       70.034109      71.654264      70.823256

The free lunch provided does not make a difference in their scores. They performed better with having a standard lunch.

In [33]:
standard = student_performance_df[student_performance_df['lunch'] == 'standard'][['math score', 
                                'reading score', 'writing score']]

reduced = student_performance_df[student_performance_df['lunch'] == 'free/reduced'][['math score', 
                                'reading score', 'writing score']]

In [34]:
ttest_ind(standard, reduced)

Ttest_indResult(statistic=array([11.83718047,  7.45105647,  8.0097842 ]), pvalue=array([2.41319560e-30, 2.00279665e-13, 3.18618958e-15]))

There is a significant difference wherein students with the standard lunch performs better.

####  Does the test preparation course seem to have an effect on the exam performances?

In [35]:
student_performance_df.groupby('test preparation course').mean()[['math score', 
                                'reading score', 'writing score']]

                         math score  reading score  writing score
test preparation course
completed                 69.695531      73.893855      74.418994
none                      64.077882      66.534268      64.504673

Test preparation resulted in higher math, reading and writing scores.

In [37]:
prepared = student_performance_df[student_performance_df['test preparation course'] == 
                                  'completed'][['math score', 
                                'reading score', 'writing score']]

none = student_performance_df[student_performance_df['test preparation course'] == 
                                  'none'][['math score', 
                                'reading score', 'writing score']]

In [38]:
ttest_ind(prepared, none)

Ttest_indResult(statistic=array([ 5.70461642,  7.87166354, 10.40917344]), pvalue=array([1.53591346e-08, 9.08178334e-15, 3.68529174e-24]))

There is also significant differences that students who completed the test preparation course are more successful than those who have not

#### Which 2 exam scores are most correlated with each other?

In [39]:
student_performance_df[['math score', 'reading score', 'writing score']].corr()

               math score  reading score  writing score
math score       1.000000       0.817580       0.802642
reading score    0.817580       1.000000       0.954598
writing score    0.802642       0.954598       1.000000

with a correlation of 0.954595 reading and writing have a closer correlation.