In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

from sklearn.cluster import KMeans, DBSCAN
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn import metrics

%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

postgres_user = 'dsbc_student'
postgres_pw = '7*.8G9QH21'
postgres_host = '142.93.121.174'
postgres_port = '5432'
postgres_db = 'heartdisease'

#engine = create_engine('postgresql://{}:{}@{}:{}/{}'.format(
#    postgres_user, postgres_pw, postgres_host, postgres_port, postgres_db))

#heart_df = pd.read_sql_query('select * from heartdisease',con=engine)

heart_df = pd.read_csv('heart.csv')
#engine.dispose()

heart_df.info()
heart_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
# Define the features and the outcome
X = heart_df.iloc[:, :13]
y = heart_df.iloc[:, 13]

# Replace missing values (marked by `?`) with a `0`
X = X.replace(to_replace='?', value=0)

# Binarize y so that `1` means heart disease diagnosis and `0` means no diagnosis
y = np.where(y > 0, 0, 1)

In [7]:
scaler = StandardScaler()
x_std = scaler.fit_transform(X)

In [80]:
#define a model for clustering
dbscan_cluster = DBSCAN(eps=1, min_samples=1)

cluster = dbscan_cluster.fit_predict(x_std)

In [81]:
print('ARI score is: {}'.format(metrics.adjusted_rand_score(y, cluster)))
print('Silhouette score is: {}'.format(metrics.silhouette_score(x_std, cluster)))

ARI score is: 0.0005630036745304687
Silhouette score is: 0.02996132711417595

In [59]:
# pca = PCA(n_components=2).fit_transform(x_std)

# plt.figure(figsize=(10,5))
# colours = 'rbg'
# for i in range(pca.shape[0]):
#     plt.text(pca[i, 0], pca[i, 1], str(cluster[i]),
#              color=colours[y[i]],
#              fontdict={'weight': 'bold', 'size': 50}
#         )

# plt.xticks([])
# plt.yticks([])
# plt.axis('off')
# plt.show()

In [60]:
x

ARI score is: 0.020876073323836786
Silhouette score is: 0.045766088210365936